#map{
	height: 500px;
	width: 100%;
	border:3px solid green;
}
#body{
	background-color: white;
	text-align: center;
}
#geoname{
	color: #363;
	font-size: 25px;
}
#ciudad{
	border-radius: 10px;
	border-color:  green;
}
#buscar{
	border-radius: 10px;
	border-color:  black;
}
#reset{
	border-radius: 10px;
	border-color:  black;
}
#div{
	
	margin: auto 0px;
}