<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      with:title="'Hola'">
<head>
<meta charset="UTF-8">
<title>Maps</title>
<link rel="stylesheet" type="text/css" th:href="@{/estilo.css}">
</head>
<body id="body">

<p id="geoname"><b>GeoNames</b></p>

The GeoNames geographical database covers all countries<br> 
and contains over eleven million placenames that are available for download free of charge.<p>


<form action="/pruebas" method="post">
		<input type="text" name="ciudad" placeholder=" Buscar una ciudad" id="ciudad"/>
		<input type="submit" value="Buscar" id="buscar" />
		<input type="reset" id="reset">
	</form>
	<p>
	<div id="div"><ul >
		<li th:each="busqueda : ${historial}"><span th:text="${busqueda}"></span></li>
	</ul></div>
	

</body>
</html>