<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      with:title="'Hola'">
<head>
<meta charset="UTF-8">
<title>Maps</title>
<link rel="stylesheet" type="text/css" th:href="@{/estilo.css}">
</head>
<body id="body">

<p id="geoname"><b>GeoNames</b></p>

The GeoNames geographical database covers all countries<br> 
and contains over eleven million placenames that are available for download free of charge.<p>


<form action="/pruebas" method="post">
		<input type="text" name="ciudad" placeholder=" Buscar una ciudad" id="ciudad"/>
		<input type="submit" th:value="#{text.index.buscar}" id="buscar" />
		<input type="reset" id="reset">
	</form>
	<p>
	<br>
	<div ><table id="tabla">
	<thead  >
		<tr id="tituloTabla">
			<th scope="col">Historial de búsqueda</th>
		</tr>
	</thead>
	<tbody id="tbody">
	<tr th:each="busqueda : ${historial}">
		<th scope="row">
			<span id="th" th:text="${busqueda}"></span>
	</tbody>
	</table>
	
	</div>

</body>
</html>