<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'Hola'">
<head>
<meta charset="UTF-8">
<title>Pruebas</title>
</head>
<body>



	<form action="/pruebas" method="post">
		<input type="text" name="ciudad" />
		<input type="submit" value="Buscar" />
	</form>
	
	<table>
		<thead>
			<tr>
				<th>Temperatura</th>
				<th>Humedad</th>
				<th>Velocidad</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th th:text="${meteodata.mediaTemperatura}"></th>
				<th th:text="${meteodata.mediaHumedad}"></th>
				<th th:text="${meteodata.mediaVelocidadViento}"></th>
			</tr>
		</tbody>
	</table>

</body>
</html>