<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'Hola'">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/estilo.css}">
<title>Datos estadísticos</title>
</head>
<body id="body">
<p id="geoname"><b>GeoNames</b></p>
<table id="tabla">
	<thead>
		<tr id="tituloTabla">
			<th>Nombre</th>
			<th>Temperatura media</th>
			<th>Humedad media</th>
			<th>Velocidad viento media</th>
			<th>Listado estaciones</th>
		</tr>
	</thead>
	<tbody id="tbody">
		<tr >
			<td id="th" th:text="${meteodata.ciudad}"></td>
			<td id="th" th:text="${meteodata.mediaTemperatura}"></td>
			<td id="th" th:text="${meteodata.mediaHumedad}"></td>
			<td id="th" th:text="${meteodata.mediaVelocidadViento}"></td>
		</tr>
	</tbody>
</table>
<p>
<a id="menuPrincipal" th:href="@{/}" href="index.html">Menú principal</a>
<p>
<br>
<div id="map"></div>
<script src="/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDaeWicvigtP9xPv919E-RNoxfvC-Hqik&callback=iniciarMap"></script>





</body>
</html>