<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'Hola'">
<head>
<meta charset="UTF-8">
<title>Datos estadísticos</title>
</head>
<body>

<h2><span th:text="${meteodata.mediaTemperatura}"></span></h2>
<h2><span th:text="${meteodata.mediaHumedad}"></span></h2>
<h2><span th:text="${meteodata.mediaVelocidadViento}"></span></h2>

<a th:href="@{/pruebas}" href="pruebas.html">Menú principal</a>

</body>
</html>