<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with" with:title="'Hola'">
<head>
<meta charset="UTF-8">
<title>Datos estadísticos</title>
</head>
<body>

<table>
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Temperatura media</th>
			<th>Humedad media</th>
			<th>Velocidad viento media</th>
			<th>Listado estaciones</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td th:text="${meteodata.ciudad}"></td>
			<td th:text="${meteodata.mediaTemperatura}"></td>
			<td th:text="${meteodata.mediaHumedad}"></td>
			<td th:text="${meteodata.mediaVelocidadViento}"></td>
		</tr>
	</tbody>
</table>




<a th:href="@{/}" href="index.html">Menú principal</a>

</body>
</html>